.row {
  align-items: center;
  display: flex;
  gap: 24px;
  padding: 0 12px;
}

.row:nth-child(odd) {
  background-color: var(--slate-2);
}

.row:nth-child(even) {
  background-color: var(--slate-1);
}

.cell {
  display: flex;
  padding: 12px 0;
}

.cell.name {
  flex-direction: column;
  gap: 4px;
  width: 140px;
}

.cell.name h4 {
  font-size: 14px;
  margin: 0;
  text-shadow: 2px 2px 0px #000;
}

.cell.name p {
  font-size: 10px;
  margin: 0;
}

.cell.name .rank {
  display: flex;
  gap: 4px;
}

.cell.name .rank span {
  color: var(--slate-8);
  font-size: 10px;
  font-weight: bold;
}

.header .cell {
  font-size: 11px;
  font-weight: bold;
  text-align: right;
}

.cell.kdr {
  justify-content: flex-end;
  width: 60px;
}

.cell.kills {
  justify-content: flex-end;
  width: 60px;
}

.cell.deaths {
  justify-content: flex-end;
  width: 60px;
}
