.row {
  align-items: center;
  display: flex;
  gap: 24px;
  padding: 0 12px;
}

.row:nth-child(odd) {
  background-color: var(--slate-2);
}

.row:nth-child(even) {
  background-color: var(--slate-1);
}

.classIcon {
  height: 24px;
  width: 24px;
}

.cell {
  display: flex;
  padding: 6px 0;
}

.cell.name {
  align-items: center;
  gap: 12px;
  width: 120px;
}

.nameContainer {
  display: flex;
  flex-direction: column;
}

.nameContainer h4 {
  font-size: 14px;
  margin: 0;
  text-shadow: 2px 2px 0px #000;
}

.nameContainer .rank {
  display: flex;
  gap: 4px;
}

.nameContainer .rank span {
  color: var(--slate-8);
  font-size: 10px;
  font-weight: bold;
}

.header .cell.cell.name {
  padding-left: 36px;
}

.header .cell.cell {
  align-items: center;
  cursor: pointer;
  gap: 4px;
  color: var(--slate-8);
  display: flex;
  font-size: 11px;
  font-weight: bold;
  text-align: right;
}

.cell.number {
  color: rgba(255, 255, 255, 0.8);
  justify-content: flex-end;
  font-size: 15px;
}

.cell.kdr {
  justify-content: flex-end;
  width: 40px;
}

.cell.kills {
  justify-content: flex-end;
  width: 40px;
}

.cell.deaths {
  justify-content: flex-end;
  width: 40px;
}

.cell.add {
  justify-content: flex-end;
  width: 40px;
}

.cell.damageDone {
  justify-content: flex-end;
  width: 80px;
}

.cell.damageReceived {
  justify-content: flex-end;
  width: 90px;
}

.cell.revives {
  justify-content: flex-end;
  width: 40px;
}

.cell.gibs {
  justify-content: flex-end;
  width: 40px;
}

.cell.accuracy {
  justify-content: flex-end;
  width: 80px;
}

.cell.headshots {
  justify-content: flex-end;
  width: 80px;
}

.green {
  color: var(--success);
}

.red {
  color: var(--error);
}

.percentSign {
  color: var(--slate-9);
}