.container {
  background-color: var(--slate-1);
  display: flex;
  flex-direction: column;
  padding: 24px 12px;
}

.container.odd {
  background-color: var(--slate-2);
}

.weaponStat {
  display: flex;
  gap: 24px;
}

.header .cell {
  color: var(--slate-8);
  font-size: 11px;
  font-weight: bold;
  padding: 0;
}

.cell {
  font-size: 14px;
  padding: 2px 0;
  text-align: right;
}

.header .cell.weapon {
  padding-left: 36px;
}

.weaponImage {
  margin-right: 12px;
  height: 12px;
  width: 24px;
}

.weapon {
  width: 190px;
  text-align: left;
}

.accuracy {
  width: 50px;
}

.hits {
  width: 60px;
}

.kills {
  width: 30px;
}

.deaths {
  width: 35px;
}

.headshots {
  width: 20px;
}

.separator {
  color: var(--slate-9);
}
