.tabs {
  display: flex;
  list-style: none;
  gap: 48px;
  padding-bottom: 24px;
  margin: 24px 48px;
  overflow-x: auto;
}

.tabs li {
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
}

.tabs li h6 {
  border-bottom: 2px solid transparent;
}

.tabs li:hover h6 {
  border-bottom: 2px solid var(--slate-10);
}

.tabs li a.active h6 {
  border-bottom: 2px solid var(--primary);
}

.tabs li h6 {
  font-size: 24px;
  margin: 0;
}

.tabs li p {
  color: var(--slate-8);
  margin: 0;
}

.map {
  display: flex;
  flex-direction: column;
}

.mapTimes {
  display: flex;
  gap: 4px;
  font-size: 12px;
}

.mapTimes span {
  color: var(--slate-8);
}

.mapTimes.mapTimes p {
  color: var(--slate-11);
}

.link {
  color: inherit;
  text-decoration: none;
}
