.languageSelector {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 3;
}

.selectTrigger {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 8px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.valueImage {
  border-radius: 2px;
  height: 15px;
  width: 20px;
}

.selectValue {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.caretDown {
  color: var(--slate-9);
  height: 8px;
  width: 8px;
}

.selectContent {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.selectListbox {
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style: none;
  margin: 0;
  padding: 12px;
}

.selectArrow {
  fill: rgba(0, 0, 0, 0.5);
}

.selectItem {
  outline: 0;
  cursor: pointer;
}

.selectItem:hover .selectItemLabel {
  color: white;
}

.selectItemLabel {
  align-items: center;
  color: var(--slate-11);
  display: flex;
  gap: 8px;
  font-size: 14px;
}
