.statsWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 48px;
}

.statsWrapper.combined {
  padding: 22px 48px 0;
}

.combineStats {
  position: absolute;
  top: 0;
  right: 48px;
}
