.awards {
  display: flex;
  flex-direction: column;
  padding: 0 48px;
}

.awardsSection {
  margin-bottom: 24px;
}

.title {
  font-size: 24px;
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.mainAwards {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.award {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.awardText {
  color: var(--slate-10);
  margin: 0;
}

.awardTitle {
  color: var(--slate-12);
  font-weight: 600;
}

.awardName {
  color: var(--slate-12);
  font-weight: 600;
}

.awardValue {
  color: var(--slate-12);
}

.awardCollapsible {
  all: unset;
}

.awardDetails {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.awardDetailItem {
  align-items: center;
  display: grid;
  grid-template-columns: 140px 60px;
  gap: 8px;
}

.awardDetailName {
  margin: 0;
}

.awardDetailCount {
  margin: 0;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--kb-collapsible-content-height);
  }
}
@keyframes slideUp {
  from {
    height: var(--kb-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

.collapsibleContent {
  overflow: hidden;
  animation: slideUp 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.collapsibleContent[data-expanded] {
  animation: slideDown 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
